<div class="jumbotron">
    <h1>What is Your Weather?</h1>
    <div class="row">
        <div class="col-xs-9">
            <div class="input-group">
                <input type="text" class="form-control input-lg" id="cities-autocomplete" placeholder="e.g., Krakow" aria-describedby="search-addon">
                <span class="input-group-addon" id="search-addon"><span class="glyphicon glyphicon-search"></span> Search</span>
            </div>
        </div>
        <div class="col-xs-3">
            <select id="forecast-source"
                    ng-model="home.selectedSource"
                    ng-options="source.value as source.name for source in home.sources"
                    data-style="btn-success btn-lg">
            </select>
        </div>
    </div>
</div>
<div class="jumbotron" ng-show="home.forecast">
    <div class="row forecastSelectedCard">
        <div class="city-name">
            <h1><span class="label label-primary city-name-label">{{home.selectedCity.formatted_address}}</span></h1>
        </div>
        <div ng-show="home.selectedCity && home.selectedForecast" class="row forecast-details">
            <div class="col-xs-3">
                <div class="date-details">
                    <h2 align="center">{{home.selectedForecast.weekday}}</h2>
                    <h2 align="center">({{home.selectedForecast.date}})</h2>
                </div>
                <div class="details-box">
                    <h3>Humidity: {{home.selectedForecast.humidity*100}}%</h3>
                    <h3>Pressure: {{home.selectedForecast.pressure}} mb</h3>
                    <h3>CloudCover: ({{home.selectedForecast.cloudCover*100}}%)</h3>
                </div>
            </div>
            <div class="col-xs-4">
                <h1>{{home.selectedForecast.temperature}}°F</h1>
                <h4>(Feels like {{home.selectedForecast.apparentTemperature}}°F)</h4>
            </div>
            <div class="col-xs-5">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 align="center" class="mb-1">Today</h5>
                        </div>
                    </a>
                    <a ng-repeat="forecast in home.forecast.futureForecasts" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{forecast.date}}</h5>
                            <small>{{forecast.temperatureMin}} - {{forecast.temperatureMax}}</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
