<div class="jumbotron">
    <h1>What is Your Weather?</h1>
    <div class="input-group">
        <input type="text" class="form-control input-lg" id="cities-autocomplete"placeholder="e.g., Krakow">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-lg" type="button">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </span>
    </div>
    <h3 ng-show="home.selectedCity">{{home.selectedCity.formatted_address}}</h3>
</div>
