<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <base href="/">
</head>
<body>
    <div class="container">
    <div ui-view></div>
  </div>
</body>
</html>